/.DS_Store
/evd_self_trigger-packets-2023_07_06_19_14_CEST.root
/event_0.png
/event_1.png
/event_10.png
/event_100.png
/event_101.png
/event_11.png
/event_12.png
/event_13.png
/event_14.png
/event_15.png
/event_16.png
/event_17.png
/event_18.png
/event_19.png
/event_20.png
/event_21.png
/event_22.png
/event_23.png
/event_24.png
/event_25.png
/event_26.png
/event_27.png
/event_28.png
/event_29.png
/event_3.png
/event_30.png
/event_31.png
/event_33.png
/event_34.png
/event_35.png
/event_36.png
/event_37.png
/event_38.png
/event_4.png
/event_40.png
/event_41.png
/event_42.png
/event_43.png
/event_44.png
/event_45.png
/event_46.png
/event_47.png
/event_49.png
/event_5.png
/event_50.png
/event_51.png
/event_52.png
/event_53.png
/event_54.png
/event_55.png
/event_56.png
/event_57.png
/event_58.png
/event_59.png
/event_6.png
/event_60.png
/event_61.png
/event_63.png
/event_64.png
/event_65.png
/event_66.png
/event_67.png
/event_68.png
/event_69.png
/event_7.png
/event_70.png
/event_71.png
/event_72.png
/event_73.png
/event_74.png
/event_75.png
/event_76.png
/event_77.png
/event_78.png
/event_79.png
/event_8.png
/event_80.png
/event_81.png
/event_82.png
/event_83.png
/event_84.png
/event_85.png
/event_86.png
/event_87.png
/event_88.png
/event_9.png
/event_90.png
/event_91.png
/event_92.png
/event_93.png
/event_94.png
/event_95.png
/event_96.png
/event_97.png
/event_98.png
/event_99.png
/rwf_0cd913fa_20230706_191437.data.root
/rwf_0cd913fa_20230706_191437.data_array.root